.code-commenter-content{
    border: 1px solid black;
}
.code-commenter-content > pre{
    border-bottom: 1px dashed black;
    margin: 0;
}
.code-commenter-content > div{
    display: none;
    height: 30px;
    background-color: yellow;
    padding: 10px 0 0;
    margin: 0;
}